{{!< default}}

  {{#post}}
  <section class="header">
      <h2 class="title"><a class="" href="/">{{title}}</a></h2>
  </section>
  
    {{navigation}}
  
  
  <div class="container">
  <br /><br />
      {{!--<h2>{{{title}}}</h2>--}}
	  <section class="post-meta">
        {{!--<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>--}}
      </section>
  </div>
  
  <div class="container">
  {{content}}
  </div>
  <div class="container">
		<div class="post-spacer"></div>

      </div>
  <br /><br />
{{/post}}